<el-row>
    <el-card>
        <div style="height: 40px">待完成功能</div>
        <el-table
            :data="todoFuns"
            style="width: 100%">
            <el-table-column
                v-for="column in titles"
                :prop="column.data"
                :label="column.title"
                :width="column.width">
            </el-table-column>
        </el-table>
    </el-card>
    <el-card  style="margin-top: 20px">
        <div style="height: 40px">已完成功能</div>
        <el-table
            :data="doneFuns"
            style="width: 100%">
            <el-table-column
                v-for="column in titles"
                :prop="column.data"
                :label="column.title"
                :width="column.width">
            </el-table-column>
        </el-table>
    </el-card>
</el-row>