<el-container>
    <el-header class="handylink-header" style="height: 120px">
        <el-row class="handylink-header-search">
            <el-col :span="20">
                <el-input
                    placeholder="请输入搜索内容"
                    v-model="searchText"
                    @change="search">
                </el-input>
            </el-col>
            <el-col :span="3" class="handylink-header-search-btn">
                <el-button type="primary" @click="search">百度一下</el-button>
            </el-col>
        </el-row>
    </el-header>
    <el-main class="handylink-main">
        <!-- 新闻资讯 -->
        <el-card>
            <div slot="header" class="clearfix">
                <span>新闻资讯</span>
                <el-button style="float: right; padding: 3px 0" type="text">更多</el-button>
            </div>
            <el-row v-for="row_news in links.news">
                <el-col v-for="(link, index) in row_news" :span="4">
                    <a :href='link.href'>{{ link.name }}</a>
                </el-col>
            </el-row>
        </el-card>
        <!-- 科技 -->
        <el-card style="margin-top: 20px;">
            <div slot="header" class="clearfix">
                <span>科技</span>
                <el-button style="float: right; padding: 3px 0" type="text">更多</el-button>
            </div>
            <el-row v-for="row_news in links.tech">
                <el-col v-for="(link, index) in row_news" :span="4">
                    <a :href='link.href'>{{ link.name }}</a>
                </el-col>
            </el-row>
        </el-card>
    </el-main>
</el-container>