.linkweb { 
	z-index:10000;
	width:150px; 
	background:#262626;
	position:absolute;
	left:0;
	top:200px; 
}
a:link {
	color:#458B00;
	text-decoration:none;
}
a:visited {
	color:#458B00;
	text-decoration:none;
}
a:hover {
	color:#458B00;
	text-decoration:none;
}
a:active {
	color:#458B00;
	text-decoration:none;
}
