.linkweb { 
	z-index:10000;
	width:120px; 
	background-color:none;
	position:fixed;
	right:15px;
	top:200px; 
}
li
{
	list-style-type: none;
}
.linkweb li{
	height: 12px;
	padding: 0px 0px 13px 6px;
	vertical-align: middle;
	text-align: left;
	background:none;
}
a
{
	color:#000;
	text-decoration:none;
	outline:none;
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover {
	color:#ff0000;
	text-decoration:underline;
}
a:active {
	text-decoration:none;
}
