.handylink-header {
    width: 60%;
    margin: 0 20%;
}
.handylink-header-search {
    margin: 30px 0px;
}
.handylink-header-search-btn {
    margin-left: 10px;
}

.handylink-main {
    width: 80%;
    margin: 0 10%;
}