.handylink-header-top {

}
.handylink-header-search {
    width: 60%;
    margin: 30px 20%;
}
.handylink-header-search-btn {
    margin-left: 10px;
}

.handylink-header,
.handylink-main {
    width: 80%;
    margin: 0 10%;
}

.handylink-footer {
    float: right;
    margin-right: 10%;
    height: 60px;
    line-height: 60px;
    font-size: 10px;
    color: lightgray;
}

.handylink-footer a {
    margin-right: 20px;
}

.handylink-scroll {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
}


.handylink-session-form {
    width: 50%;
    margin: 50px 25% 0px;
}